<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ull>
    <li> List popular languages for Data Science </li>
    <li> Get Familiar with Arithmetic Exprsssions </li>
    <li> List commonly used libraries for Data Science</li>
    <li> Convert 200 minutes to hours by dividing by 60 </li>
</ull>

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> SQL </li>
    <li> Scala </li>
    <li> Java </li>
    <li> C++ </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Numpy </li>
    <li> Pandas </li>
    <li> Matplotlib </li>
    <li> Seaborn </li>
    <li> TensorFlow </li>
</ol>

| Data Science Tools |
|---|
| Jupyter |
| RStudio |
| Apache Zeppelin |
| Spyder |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Apisathan